.practice {
	padding: 12.5rem 0 8rem 0;

	@media (max-width: 993px) {
		padding: 4rem 0 8rem 0;
	}

	@media (max-width: 767px) {
		padding: 0 0 4rem 0;
	}

	&__header {
		margin: 0 0 4.5rem 0;

		@media (max-width: 767px) {
			margin: 0 0 2.5rem 0;
		}
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -2rem -3rem;
	}

	&__column {
		padding: 0 2rem;
		margin: 0 0 3rem 0;
		flex: 0 1 25%;

		@media (max-width: 1040px) {
			flex: 0 1 50%;
		}

		@media (max-width: 630px) {
			flex: 0 1 100%;
		}
	}

	// &__item {}
}