.contacts-footer {
	display: flex;
	flex-direction: column;

	&__item {
		padding: 0 0 0 3.4rem;
		display: flex;
		align-items: center;
		min-height: 3rem;
		color: #fff;
		font-weight: 600;
		line-height: 150%;
		letter-spacing: 0.2px;

		&:not(:last-child) {
			margin: 0 0 1.2rem 0;
		}

		&:hover {
			text-decoration: underline;
		}

		&--phone {
			background: url('../img/footer/icons/01.svg') left no-repeat;
		}

		&--map {
			background: url('../img/footer/icons/02.svg') left no-repeat;
		}

		&--email {
			background: url('../img/footer/icons/03.svg') left no-repeat;
		}
	}

}