.item-whoweare {
	display: flex;

	&:not(:last-child) {
		margin: 0 0 3rem 0;
	}

	&__icon {
		flex: 0 0 3.2rem;
	}

	&__body {
		flex: 1 1 auto;
		padding: 0 0 0 2rem;
	}

	&__title {
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 150%;
		letter-spacing: 0.1px;

		&:not(:last-child) {
			margin: 0 0 0.5rem 0;
		}
	}

	&__text {
		color: $c-text-second;
		font-weight: 600;
		line-height: 171.429%;
		letter-spacing: 0.2px;
	}
}