.contact {
	padding: 4rem 0;

	&__body {

		@media (min-width: 767px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__content {
		padding: 0 0 2rem 0;

		@media (min-width: 767px) {
			padding: 0 2rem 0 0;
		}
	}

	&__title {
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 133.333%;
		letter-spacing: 0.1px;

		&:not(:last-child) {
			margin: 0 0 1rem 0;
		}
	}

	&__text {
		color: $c-text-second;
		line-height: 142.857%;
		letter-spacing: 0.2px;
	}

	&__button {
		min-height: 5.8rem;
		padding: 0.5rem 4rem;
		border-radius: 5px;
		color: #FFF;
		background-color: $c-accent;
		display: flex;
		transition: background-color 0.3s ease 0s;
		justify-content: center;
		align-items: center;
		text-align: center;

		&:hover {
			background-color: #e67448;
		}
	}
}