.hero {
	position: relative;

	&__body {
		padding: 18.4rem 0 19.1rem 0;
		position: relative;
		z-index: 2;
		max-width: 40rem;
		display: flex;
		flex-direction: column;
		gap: 3.5rem;

		@media (max-width: 992px) {
			padding: 12rem 0 19.1rem 0;
		}

		@media (max-width: 479px) {
			padding: 11.5rem 0 16rem 0;
		}
	}

	&__title {
		font-size: 5.8rem;
		font-weight: 800;
		line-height: 137.931%;
		letter-spacing: 0.2px;

		@media (max-width: 479px) {
			font-size: 4.2rem;
		}
	}

	&__text {
		color: $c-text-second;
		font-size: 2rem;
		font-weight: 500;
		line-height: 150%;
		letter-spacing: 0.2px;
	}

	&__buttons {
		display: inline-flex;
		flex-wrap: wrap;
		gap: 1rem;

		@media (max-width: 479px) {
			gap: 2rem;
		}
	}

	&__btn {
		display: flex;
		min-height: 4.8rem;
		justify-content: center;
		align-items: center;
		padding: 0.5rem 3.6rem;
		background-color: $c-accent;
		border-radius: 3.7rem;
		color: #FFF;
		font-weight: 700;
		line-height: 150%;
		letter-spacing: 0.2px;
		transition: all 0.3s ease 0s;

		&:hover {
			background-color: #FFF;
			color: $c-accent;
		}

		@media (max-width: 479px) {
			flex: 1 1 auto;
		}

		&--border {
			background: none;
			color: $c-secondary-1;
			border: 1px solid $c-secondary-1;

			&:hover {
				background-color: $c-secondary-1;
				color: #FFF;
			}
		}
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		& img {
			@media (max-width: 1300px) {
				object-position: right;
			}
		}

		@media (max-width: 992px) {
			opacity: 0.5;
		}
	}
}