.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;

	&__container {
		display: flex;
		gap: 13.3rem;
		min-height: 10.4rem;
		align-items: center;

		@media (max-width: 576px) {
			justify-content: space-between;
		}
	}

	&__logo {
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 133.333%;
		letter-spacing: 0.1px;
	}

	&__menu {
		padding: 0.5rem 0;
	}
}