//===font===
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=wrap);
//==========

$font_main: Montserrat;

$c-accent: #FF7B47;
$c-secondary-1: #0D5C63;
$c-secondary-2: #17213C;
$c-text: #252B42;
$c-text-second: #737373;